<input type="file" accept="image/*" multiple="multiple" style="display:none;" />
<ion-view view-title="" ng-init="init()">
    <div class="bar bar-header common-title-bg gray1">
        <div class="h1 title"><b>服务信息</b></div>
    </div>
    <ion-content class="has-header">
        <div class=" ">
            <div class="pb10">
				<label class="item item-input item-stacked-label">
				    <span class="input-label">服务名</span>
				    <input type="text" placeholder="请输入服务标题" ng-model="service.name">
				</label>
				<label class="item item-input item-stacked-label">
				    <span class="input-label">服务描述</span>
				    <textarea type="text" placeholder="请输入服务描述" ng-model="service.content"></textarea>
				</label>
				<label ng-if="service.userScore.id" class="item item-input item-stacked-label">
				    <span class="input-label">服务资料</span>
					<div ng-show="service.userScorePictures!=undefined && service.userScorePictures.length>0" style="position:relative;min-height:100px;" ng-repeat="picture in service.userScorePictures">
	                    <img ng-src="{{picture.picture_path}}" style="width:100%;left:0;top:0">

	                    <div ng-show="1" style="position:absolute;bottom:10px;width:100%;text-align:center;filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;">
	                        <i class="button button-dark icon ion-arrow-up-c" ng-click="imageOp(picture,'up',picture.picture.id)"></i>&nbsp;
	                        <i class="button button-dark icon ion-arrow-down-c" ng-click="imageOp(picture,'down',picture.picture.id)"></i>&nbsp;
	                        <i class="button button-dark icon ion-close-round" ng-click="imageOp(picture,'del',picture.picture.id)"></i>
	                    </div>
	                </div>
	                <div ng-if="!service.userScorePictures"  style="line-height:20pt;color:#999">暂无资料！</div>

	                <button class="button button-small button-positive" ng-click="takePicture({userScoreId:service.userScore.id,type:'service'})">提交资料</button>
				</label>
            </div>
        </div>
    </ion-content>
	<div>
		<div class="bar bar-footer bar-balanced" ng-click="submitService()">
		  <div class="title">下一步，提交资料</div>
		</div>
	</div>
</ion-view>
