<ion-view view-title="" ng-controller="BindidcardCtrl" ng-init="init()">
	<ion-content class="padding common-bg">
    <div style="text-align:center;padding-top:140px;"><h3>绑定身份证</h3></div>
    <div style="padding-top:40px;">
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" ng-model="user.idcard" placeholder="身份证号码">
		  </label>
		</div>
    </div>
	</ion-content>
	<div class="bar bar-footer bar-assertive" ng-click="submitBind()">
		<h1 class="title">绑定微信帐号</h1>
	</div>
</ion-view>
