<ion-view>
	<ion-nav-title>
      {{item.item.name}}
    </ion-nav-title>
	<!-- <ion-nav-title>{{item.item.name}}</ion-nav-title> -->
	<ion-content class=" common-bg has-header" ng-init="init()">
		<div class="padding">
			<div ng-repeat="title in item.item_titles">
				<button class="button button-block button-light" ng-click="go('menu',{item_id:item.item.id,year:title.year})">
				 	{{title.name}}
				</button>
				<div ng-if="false" style="margin-top:-5px;text-align:center;">
					<i class="button button-small button-dark icon ion-arrow-up-c" ng-click="titleOp(title,'up',title.id)"></i>
					<i class="button button-small button-dark icon ion-arrow-down-c" ng-click="titleOp(title,'down',title.id)"></i>
					<i class="button button-small button-dark icon ion-edit" ng-click="titleOp(title,'edit',title.id)"></i>
					<i class="button button-small button-dark icon ion-close-round" ng-click="titleOp(title,'del',title.id)"></i>
				</div>
			</div>
		</div>
	</ion-content>
	<div ng-if="false" class="bar bar-footer bar-dark" ng-click="addTitle(item.item.id)">
		<div class="title">新增{{item.item.name}}</div>
	</div>
</ionv-view>
