<ion-view view-title="" ng-init="init()">
	<ion-content class="padding common-bg">
    <div style="text-align:center;padding-top:140px;"><h3>登录</h3></div>
    <div style="padding-top:40px;">
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" ng-model="user.phone" placeholder="手机号" value="18600000001">
		  </label>
		</div>
    </div>
	</ion-content>
	<div class="bar bar-footer bar-assertive" ng-click="login()">
		<h1 class="title">登录</h1>
	</div>
</ion-view>
