<input type="file" accept="image/*" multiple="multiple" style="display:none;" />
<ion-view view-title="">
	<div class="bar bar-header common-title-bg gray1">
		<div class="h1 title"><b>{{item.item_title.title}}</b></div>
    </div>
	<ion-content class="common-bg has-header ">
		<div class="padding">
			<div ng-repeat="menu in item.item_menus">
				<div>
					<div style="clear:both;display:block;">
						<button ng-show="item.isleader" class="button button-block button-balanced" style="float:right;width:15%;margin-bottom:5px;" ng-click="takePicture({title_id:item.item_title.id,menu_id:menu.id,type:'menu'})"><i class="icon ion-ios-camera"></i></button>

						<button class="button button-block button-light" style="float:left;clear:none;margin-bottom:5px;" ng-style="item.isleader==0?{width:'100%'}:{width:'84%'}" ng-click="go('preview',{title_id:item.item_title.id,menu_id:menu.id,type:'menu'})">
						 	{{menu.name}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
