<ion-view>
<ion-nav-title>{{year}}年积分事件</ion-nav-title>
  <ion-content class="has-header">
	  <div>
	  <div class="xtabs">
	  		<div class="xtab" ng-class="{true:'xtab-active'}[tabIdx==0]" ng-click="selectTab(0)">义务分</div>
	  		<div class="xtab" ng-class="{true:'xtab-active'}[tabIdx==1]" ng-click="selectTab(1)">任务分</div>
	  		<div class="xtab" ng-class="{true:'xtab-active'}[tabIdx==2]" ng-click="selectTab(2)">服务分</div>
	  	</div>
	  </div>
  		<ion-list>
  			<div ng-if="tabIdx==0" ng-repeat="score in scores" class="xitem" ng-click="go('eventDetail',{type:tabIdx,type_id:score.id})">
  					<span ng-if="score.userScore&&score.userScore.status==2" class="xcircle" style="background: #66cc33;">+{{score.userScore.score}}</span>

  					&nbsp;&nbsp;&nbsp;{{score.name}}
  			</div>

  			<div ng-if="tabIdx==1" ng-repeat="score in scores" class="xitem" ng-click="go('taskDetail',{type:tabIdx,type_id:score.id})">
  				<span ng-if="score.userScore&&score.userScore.status==2" class="xcircle" style="background: #66cc33;">+{{score.userScore.score}}</span>
  				<span ng-if="!(score.userScore&&score.userScore.status==2)" class="xcircle fs1">未<br>完成</span>
  				&nbsp;&nbsp;&nbsp;{{score.name}}
  			</div>

			<div ng-if="tabIdx==2" ng-repeat="score in scores" class="xitem" ng-click="go('serviceDetail',{type:tabIdx,type_id:score.id})">
  				<span ng-if="score.userScore&&score.userScore.status==2" class="xcircle" style="background: #66cc33;">+{{score.userScore.score}}</span>
  				<span ng-if="!(score.userScore&&score.userScore.status==2)" class="xcircle fs1">未<br>完成</span>
  				&nbsp;&nbsp;&nbsp;{{score.name}}
  			</div>


  		</ion-list>
  	</ion-content>
	<div ng-if="tabIdx==2">
		<div class="bar bar-footer bar-balanced" ng-click="go('addService',{})">
		  <div class="title">提交我的服务</div>
		</div>
	</div>
</ion-view>
