
<input type="file" accept="image/*" multiple="multiple" style="display:none;" />
<ion-view view-title="" ng-init="init()">
    <div class="bar bar-header common-title-bg gray1">
        <div class="h1 title"><b>任务信息</b></div>
    </div>
    <ion-content class="common-bg has-header " ng-class="{true:'has-footer'}[task.userScore.status!=2]">
        <div class="padding card">
            <div class="pb10">
                <div class="title_task">任务名</div>
                <div class="content_task">{{task.name}}</div>
            </div>

            <div class="pb10" ng-if="task.content">
                <div class="title_task">任务描述</div>
                <div class="content_task">{{task.content}}</div>
            </div>
            <div class="pb10">
                <div class="title_task">任务积分</div>
                <div class="content_task">{{task.score}} 分</div>
            </div>
            <div class="pb10">
                <div class="title_task">任务状态</div>
                <div class="content_task">
                	<div ng-if="task.userScore"><!--0未完成，1等待，2审核通过，3审核没有通过-->
                		<div ng-if="task.userScore['status']==0">
                			未完成
                		</div>
                		<div ng-if="task.userScore['status']==1">
                			等待审核中
                		</div>
                		<div ng-if="task.userScore['status']==2">
                			审核通过
                		</div>
                        <div ng-if="task.userScore['status']==3">
                            没有通过
                        </div>
                	</div>
                	<div ng-if="!task.userScore">
                		未完成
                	</div>
                </div>
            </div>
            <div class="pb10">
                <div class="title_task">任务资料</div>
                <div ng-show="task.userScorePictures!=undefined && task.userScorePictures.length>0" style="position:relative;min-height:100px;" ng-repeat="picture in task.userScorePictures">
                    <img ng-src="{{picture.picture_path}}" style="width:100%;left:0;top:0">

                    <div ng-if="task.userScore.status!=2" ng-show="1" style="position:absolute;bottom:10px;width:100%;text-align:center;filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;">
                        <i class="button button-dark icon ion-arrow-up-c" ng-click="imageOp(picture,'up',picture.picture.id)"></i>&nbsp;
                        <i class="button button-dark icon ion-arrow-down-c" ng-click="imageOp(picture,'down',picture.picture.id)"></i>&nbsp;
                        <i class="button button-dark icon ion-close-round" ng-click="imageOp(picture,'del',picture.picture.id)"></i>
                    </div>
                </div>
                <div ng-if="!task.userScorePictures"  style="line-height:20pt;color:#999">暂无资料！</div>

                <button ng-if="task.userScore.status!=2" class="button button-small button-positive" ng-click="takePicture({userScoreId:task.userScore.id,type:'task'})">提交资料</button>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-assertive" ng-if="task.userScore.status!=2">
        <h1 class="title" ng-click="submitVerify(task.userScore.id)">我已完成，提交审核</h1>
	</div>
</ion-view>
