<ion-view view-title="">
	<div class="bar bar-header common-title-bg gray1">
		<div class="h1 title"><b>{{item.item.name}}</b></div>
    </div>
	<ion-content class=" common-bg has-header">
		<div class="padding">
			<!-- <div class="item item-divider common-title-bg gray1">
		    <b>{{item.item.name}}</b>
			</div> -->
			
			<button class="button button-block button-light" ng-repeat="title in item.item_titles" ng-click="go('menu',{title_id:title.id,item_id:title.item_id})">
			 	{{title.title}}
			</button>

			<!--
			<a class="item item-icon-right" ng-repeat="title in item.item_titles" ng-click="go('menu',{title_id:title.id,item_id:title.item_id})">
		    {{title.title}}
		    <i class="icon ion-ios-arrow-right" style="color:#999"></i>
			</a>-->
		</div>
  
	</ion-content>
</ion-view>
