<ion-view view-title="新闻" ng-controller="NewCtrl" ng-init="init()">
  <ion-content style="background:#ddd;">
    <ion-list>
        <div class="list-group" style="padding-top:4px;">
          <div href="#" class="list-group-item" style="background:#fff;margin-bottom:8px;" ng-click="go('new',{id:item.id})">
            <div class="list-group-item-heading" style="font-family:'微软雅黑';font-size:14px;color:#333"><b>{{item.title}}</b></div>
            <p ng-if="item.cover_url" class="list-group-item-text" style="padding-bottom:5px;width:100%;display:block;vertical-align: top;">
                <img style="width:100%;" src="{{staticBaseUrl}}/Admin{{item.cover_url}}">
            </p>
            <p class="list-group-item-text" style="font-family:'微软雅黑';font-size:12px;padding-bottom:5px;" ng-bind-html="item.content"></p>
            <div class="text-right" style="font-size:12px;color:#666;">{{item.publishtime}}</div>
          </div>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
