<ion-view view-title="{{page.title}}" ng-controller="NewsCtrl" ng-init="init()">
  <ion-content style="background:#ddd;">
    <ion-list ng-show="page.pageSize>0">
        <div class="list-group" style="padding-top:4px;">
          <div href="#" class="list-group-item" ng-repeat='item in page.items' style="background:#fff;margin-bottom:8px;" ng-click="go('app.new',{id:item.id})">
            <div class="list-group-item-heading" style="font-family:'微软雅黑';font-size:14px;color:#333"><b>{{item.title}}</b></div>

            <p ng-if="item.is_cover==1" class="list-group-item-text" style="padding-bottom:5px;overflow:hidden;width:100%;max-height:200px;display:block;vertical-align: top;">
                <img style="width:100%;" src="{{staticBaseUrl}}/Admin{{item.cover_url}}">
            </p>
            <p ng-if="item.is_cover==0" class="list-group-item-text" style="font-family:'微软雅黑';font-size:12px;padding-bottom:5px;">{{item.summary}}</p>
            <div class="text-right" style="font-size:12px;color:#666;">{{item.publishtime}}</div>
          </div>
        </div>
    </ion-list>
    <ion-list>
        <ion-item ng-hide="page.pageSize>0">暂无记录</ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="!page.more" on-infinite="loadMore()" distance="1%" ></ion-infinit-scroll>
  </ion-content>
</ion-view>
