<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title" style="font-family:'微软雅黑'">{{menu.title}}</h1>
    </ion-header-bar>
    <ion-content style="background:#f8f8f8;">
      <ion-list>
        <ion-item menu-close href="#/app/member/" class="item-icon-left">
          <i class="icon ion-ios-information-outline"></i>个人信息
        </ion-item>
        <ion-item menu-close href="#/app/scoreRecord" class="item-icon-left">
          <i class="icon ion-ios-star-outline"></i>查看积分
        </ion-item>
        <ion-item menu-close href="#/app/task" class="item-icon-left">
          <i class="icon ion-ios-flag-outline"></i>查看任务
        </ion-item>
        <ion-item menu-close href="#/app/news/1" class="item-icon-left">
          <i class="icon ion-ios-compose-outline"></i>支部公告
        </ion-item>
        <ion-item menu-close href="#/app/news/2" class="item-icon-left">
          <i class="icon ion-ios-copy-outline"></i>支部新闻
        </ion-item>
        <ion-item menu-close href="#/app/topn" class="item-icon-left">
          <i class="icon ion-ios-people-outline"></i>排行榜
        </ion-item>
        <ion-item menu-close href="#/app/resetPass" class="item-icon-left">
          <i class="icon ion-ios-locked-outline"></i>修改密码
        </ion-item>
        <ion-item menu-close ng-click="log(menu.log_status)" class="item-icon-left">
          <i class="icon ion-ios-person-outline"></i>{{menu.log_name}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
