<ion-view title="修改密码" ng-controller="ResetPassCtrl" ng-init="init()">
  <ion-content ng-show="menu.log_status > 0">
    <form ng-submit="doResetPass()">
      <div class="alert alert-danger" role="alert" ng-show="resetPass.status!=0" style="padding-top:4px;padding-bottom:4px;color: #a94442;background-color: #f2dede;border-color: #ebccd1;">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>{{resetPass.message}}
      </div>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">旧密码</span>
          <input type="password" ng-model="resetPass.oldpassword">
        </label>
        <label class="item item-input">
          <span class="input-label">新密码</span>
          <input type="password" ng-model="resetPass.newpassword">
        </label>
        <label class="item item-input">
          <span class="input-label">确认新密码</span>
          <input type="password" ng-model="resetPass.renewpassword">
        </label>
        <label class="item">
          <button class="button button-block button-dark" type="submit">确认</button>
        </label>
      </div>
    </form>
  </ion-content>
  <ion-content ng-hide="menu.log_status > 0">
    <div class="item text-center" ng-click="log(menu.log_status)">请先登录</div>
  </ion-content>
</ion-view>
