<div ng-controller="ScoreItemCtrl" ng-init="init()">
<ion-view title="积分选项" >
    <ion-content style="background:#fff">
        <div class="">
        	<div class="list-group">
        	<div ng-repeat="event in events" ng-click="go('app.addScore',{md5:md5,type:type,eventId:$index})">
            <div class="list-group-item" style="padding-bottom:0px;padding-left:10px;padding-right:0px;">
              <div class="row-action-primary" style="vertical-align:top;padding-top:3px;padding-right:10px;">
                <i class="material-icons" style="width:50px;height:50px;line-height:50px;background:#f44336;font-size:18px;">{{event.score}}分</i>
              </div>
              <div class="row-content" style="min-height:20px;width:calc(100% - 72px);padding-top:5px;">
                <div class="action-secondary"><i class="icon ion-ios-arrow-right"></i></div>
                <h4 class="list-group-item-heading" style="font-size:14px;line-height:16px;min-height:20px;font-family:'微软雅黑'">{{event.name}}</h4>
                <p class="list-group-item-text" style="font-size:12px;color:#666;font-family:'微软雅黑';letter-spacing:1px;">{{event.content}} &nbsp;</p>
              </div>
            </div>
            <div class="" style="border-bottom:1px solid rgba(0,0,0,.1);min-height:10px;margin-bottom:10px;"></div>
            </div>
            </div>
        </div>

    </ion-content>
</ion-view>
</div>